{% extends '../base.html' %}
{% load i18n %}

{% block title %}

{% endblock title %}

{% block head %}
<link rel="stylesheet" href="/static/css/video_course/process.css">
{% endblock head %}

{% block content %}
<div class="content">
    {% if video_path %}
    <video width="640" height="360" controls>
        <source src="{{video_path}}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <a href="{{video_path}}" download>
        <button>Download Video</button>
    </a>
    {% else %}
    <div class="slides">
        {% for element in data %}
        <div class="slide" data-number="{{forloop.counter}}">
            <div class="slide-img">
                <img src="{{element.image}}">
            </div>
            <div class="slide-text">
                <textarea class="slide-textarea" rows="10">{{element.text}}</textarea>
                <div class="slide-characters">
                    <span class="characters-count"></span>
                    /
                    <span class="characters-max-count"></span>
                </div>
                <button class="regenerate-btn" data-name="Regenerate">
                    <i class="fa-solid fa-rotate"></i>
                </button>
            </div>
        </div>
        {% endfor %}
    </div>
    {% if not texts_created %}
    <button id="generate-texts" data-name="Generate Texts">
        Generate texts
    </button>
    {% else %}
    <button id="update-texts" data-name="Update Texts">
        Update texts
    </button>
    <button id="generate-video" data-name="Generate Video">
        Generate video
    </button>
    {% endif %}
    {% endif %}
</div>
<script src="/static/js/video_course/process.js"></script>
{% endblock content %}