{% extends '../base.html' %}
{% load i18n %}

{% block title %}

{% endblock title %}

{% block head %}
<link rel="stylesheet" href="/static/css/video_course/process.css">
{% endblock head %}

{% block content %}
<div class="content">
    <div class="slides-process-cnt relative">
        <div class="slide-process-title">
            <h2>{{title}}</h2>
        </div>
        <div class="slides">
            {% for element in data %}
            <div class="slide" data-number="{{forloop.counter}}">
                <div class="slide-img">
                    <img src="{{element.image}}">
                </div>
                <div class="slide-text">
                    <textarea class="slide-textarea" rows="10">{{element.text}}</textarea>
                    <div class="slide-characters">
                        <span class="characters-count"></span>
                        /
                        <span class="characters-max-count"></span>
                    </div>
                    <div class="slide-actions">
                        <button class="regenerate-btn" data-name="{% trans 'Regenerate' %}">
                            <i class="fa-solid fa-rotate"></i>
                        </button>
                        <div class="slide-generation-infos">
                            <button class="generate-error slide-generation-info" data-name="{% trans 'Something went wrong!' %}" style="display: none;">
                                <i class="fa-solid fa-circle-exclamation" style="color: #ff0000;"></i>
                            </button>
                            <button class="generate-skip slide-generation-info" data-name="{% trans 'Skipped!' %}" style="display: none;">
                                <i class="fa-solid fa-circle-chevron-right" style="color: #74C0FC;"></i>
                            </button>
                            <button class="generate-done slide-generation-info" data-name="{% trans 'Done!' %}" style="display: none;">
                                <i class="fa-solid fa-circle-check" style="color: #00ff00;"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="process-buttons">
            <button id="generate-texts">
                {% trans 'Generate texts' %}
            </button>
            <button id="update-texts">
                {% trans 'Save draft' %}
            </button>
            <button id="choose-voice">
                {% trans 'Choose voice' %}
            </button>
        </div>
        <div class="info-messages">
            <div class="draft-saved request-success" id="draft-saved">
                {% trans 'Saved successfully!' %}
            </div>
            <div class="draft-not-saved request-error" id="draft-not-saved">
                {% trans 'Oops, glitch!' %}
            </div>
        </div>
    </div>
    <div class="blur-background hidden">
        <div class="popup">
            <button class="close-popup-icon">
                <i class="fa-solid fa-xmark"></i>
            </button>
            <div class="popup-cnt">
                <div class="voice-selection-cnt" data-id="">
                    <div class="selected-voice" data-id="" id="selected-voice">
                        <div class="selected-voice-info">
                            <button class="selected-voice-img-cnt" id="selected-voice-img-cnt">
                                <img class="selected-voice-img" src="">
                                <div class="selected-voice-img-bg" id="selected-voice-img-bg">
                                    <i class="fa-solid fa-play"></i>
                                </div>
                            </button>
                            <div class="selected-voice-name"></div>
                        </div>
                        <button class="voices-dropdown" id="voices-dropdown">
                            <i class="fa-solid fa-chevron-left"></i>
                        </button>
                    </div>
                    <div class="voices" id="voices">
                    </div>
                </div>

                <button id="generate-video" class="generate-video" data-name="{% trans 'Generate Video' %}">
                    <i class="fa-solid fa-file-video"></i>
                </button>
            </div>
            <div class="generate-video-loading-cnt" id="generate-video-loading-cnt">
                <div class="generate-video-loading">
                    <div class="generate-video-loading-bar"></div>
                </div>
            </div>
            <div class="generate-video-error" id="generate-video-error">
                <i class="fa-solid fa-circle-exclamation"></i>
                Something went wrong!
            </div>
        </div>
    </div>
</div>
<script src="/static/js/video_course/process.js"></script>
{% endblock content %}
