{% extends '../base.html' %}
{% load i18n %}

{% block title %}

{% endblock title %}

{% block head %}
<link rel="stylesheet" href="/static/css/video_course/process.css">
{% endblock head %}

{% block content %}
<div class="content">
    <div class="slides">
        {% for element in data %}
        <div class="slide" data-number="{{forloop.counter}}">
            <div class="slide-img">
                <img src="{{element.image}}">
            </div>
            <div class="slide-text">
                <textarea class="slide-textarea" rows="10">{{element.text}}</textarea>
                <div class="slide-characters">
                    <span class="characters-count"></span>
                    /
                    <span class="characters-max-count"></span>
                </div>
                <div class="slide-actions">
                    <button class="regenerate-btn" data-name="Regenerate" {% if not texts_created %} style="display: none;" {% endif %}>
                        <i class="fa-solid fa-rotate"></i>
                    </button>
                    <div class="slide-generation-infos">
                        <button class="generate-error slide-generation-info" data-name="Something went wrong!" style="display: none;">
                            <i class="fa-solid fa-circle-exclamation" style="color: #ff0000;"></i>
                        </button>
                        <button class="generate-skip slide-generation-info" data-name="Skipped!" style="display: none;">
                            <i class="fa-solid fa-circle-chevron-right" style="color: #74C0FC;"></i>
                        </button>
                        <button class="generate-done slide-generation-info" data-name="Done!" style="display: none;">
                            <i class="fa-solid fa-circle-check" style="color: #00ff00;"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% if not texts_created %}
    <button id="generate-texts" data-name="Generate Texts">
        Generate texts
    </button>
    {% endif %}
    <div class="second-step-buttons" {% if not texts_created %} style="display: none;" {% endif %}>
        <button id="update-texts" data-name="Update Texts">
            Update texts
        </button>
        <button id="choose-voice" data-name="Choose Voice">
            Choose voice
        </button>
    </div>
    <div class="background" style="display: none;">
        <div class="popup">
            <button class="close-popup-icon">
                <i class="fa-solid fa-xmark"></i>
            </button>
            <div class="popup-cnt">
                <div class="voice-selection-cnt" data-id="">
                    <div class="selected-voice" data-id="" id="selected-voice">
                        <div class="selected-voice-info">
                            <button class="selected-voice-img-cnt" id="selected-voice-img-cnt">
                                <img class="selected-voice-img" src="">
                                <div class="selected-voice-img-bg" id="selected-voice-img-bg">
                                    <i class="fa-solid fa-play"></i>
                                </div>
                            </button>
                            <div class="selected-voice-name"></div>
                        </div>
                        <button class="voices-dropdown" id="voices-dropdown">
                            x
                        </button>
                    </div>
                    <div class="voices">
                    </div>
                </div>

                <button id="generate-video" data-name="Generate Video">
                    Generate video
                </button>
            </div>
        </div>
    </div>
</div>
<script src="/static/js/video_course/process.js"></script>
{% endblock content %}