{% extends '../base.html' %}
{% load i18n %}

{% block title %}
{% endblock title %}

{% block head %}
<link rel="stylesheet" href="/static/css/video_course/video.css">
{% endblock head %}

{% block content %}
<div class="content">
    <div class="video-cnt relative">
        <a class="edit-video-btn" href="{% url 'process' key=key %}" data-name="{% trans 'Edit' %}">
            <i class="fa-solid fa-pencil"></i>
        </a>
        <h2>{% trans 'Your video is ready!' %} 🎉</h2>
        <video controls class="video" height="512px">
            <source src="{{video_path}}?v={{ timestamp }}" type="video/mp4">
            {% trans 'Your browser does not support the video tag.' %}'
        </video>
        <a href="{{video_path}}" download class="download-button">
            {% trans 'Download Video' %}
        </a>
    </div>
</div>
{% endblock content %}