* {
    box-sizing: border-box;
}

.tooltip {
    position: absolute;
    background: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 14px;
    display: none;
    z-index: 1000;
}

.disabled {
    pointer-events: none;
    opacity: 0.8
}

button:hover {
    opacity: 0.8;
    cursor: pointer
}
