.slides {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.slide {
    display: flex;
    gap: 16px;
    padding: 8px 0;
    border-bottom: 1px solid black;
}

.slide-img {
    width: 756px;
    max-width: 50%;
}

.slide-img > img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 3px black;
}

.slide-text {
    width: calc(50% - 64px);
    position: relative;
}

.slide-textarea {
    width: 100%;
    padding: 16px;
    resize: none;
    border-radius: 8px;
}

.slide-characters {
    font-size: 12px;
    position: absolute;
    top: 2px;
    right: 6px;
}

.element-rotate-loading {
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    from {
    transform: rotate(0deg);
    }
    to {
    transform: rotate(360deg);
    }
}

.slide-generation-info {
    background: none;
    border: none;
    width: min-content;
}

.slide-generation-info, .regenerate-btn {
    font-size: 18px;
}

.slide-actions {
    display: flex;
    gap: 4px;
}

/* .generate-error {
    background-color: red;
}

.generate-done {
    background-color: green;
}

.generate-skip {
    background-color: blue;
} */

.popup {
    width: 512px;
    max-width: calc(100% - 32px);
    height: 376px;
    background-color: white;
}

.popup-cnt {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.voice-selection-cnt {
    position: relative;
    height: 48px;
    width: 256px;
}

.selected-voice {
    height: 64;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.selected-voice-info {
    display: flex;
    gap: 8px;
    align-items: center;
}

.selected-voice-img-cnt {
    height: 64px;
    width: 64px;
    position: relative;
    border: none;
    border-radius: 50%;
    background: none;
    padding: 0;
}

.selected-voice-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 0;
}

.selected-voice-img-bg {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    color: white;
    display: none;
    font-size: 20px;
}

.selected-voice-img-cnt:hover {
    opacity: 1;
}

.selected-voice-img-bg {
    background-color: rgba(0, 0, 0, 0.2);
}

.voices {
    width: 256px;
    height: 128px;
    overflow-y: auto;
    position: absolute;
    display: none;
    top: 64px;
}

.voice {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 4px;
}

.voice > img {
    width: 44px;
    height: 44px;
    border-radius: 50%;
}

.voice-name, .selected-voice-name {
    font-size: 16px;
}
