{% extends '../base.html' %}
{% load i18n %}

{% block title %}
{% endblock title %}

{% block head %}
<link rel="stylesheet" href="/static/css/video_course/authentication.css">
{% endblock head %}

{% block content %}
<h2>Login</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
    {% if error %}
        {{error}}
    {% endif %}
</form>
<a href="{% url 'forget_password' %}">Forgot Password?</a>
<p>Does not have an account? <a href="{% url 'register' %}">Register here</a></p>
{% endblock content %}