{% extends '../base.html' %}
{% load i18n %}

{% block title %}
{% endblock title %}

{% block head %}
<link rel="stylesheet" href="/static/css/video_course/authentication.css">
{% endblock head %}

{% block content %}
{% if error %}
    {{error}}
{% else %}
    <h3>Reset Your Password</h3>
    <div>
        <input type="password" id="new-password" placeholder="New password">
        <input type="password" id="new-password-2" placeholder="Confirm new password">
        <button id="reset-password">Reset Password</button>
    </div>
    <p id="reset-confirm-msg"></p>
{% endif %}
<script src="/static/js/authentication/reset_password.js"></script>
{% endblock content %}