{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/css/base.css">

    <script src="/static/js/other/fontawesome.min.js" crossorigin="anonymous"></script>
    <script src="/static/js/other/jquery.min.js"></script>

    <link rel="icon" type="image/x-icon" href="/static/images/logo/favicon.ico">

    <title>
        {% block title %}
        {% endblock title %}
    </title>

    {% block head %}
    {% endblock head %}
</head>

<body id="body">
    <div class="header">
        <a class="header-title" href="{% url 'upload' %}">
            <img src="/static/logo.webp">
            <h2 class="header-name">
                Slide Checkmate
            </h2>
        </a>
        <h5 class="header-secondary">
            Powered by Skill Checkmate
        </h5>
    </div>
    {% block content %}
    {% endblock content %}
    <div id="tooltip" class="tooltip"></div>
</body>
<script>
    var LANGUAGE = '{{request.LANGUAGE_CODE}}'
    var CSRF = '{{ csrf_token }}'
</script>
<script src="/static/js/base.js"></script>
</html>